@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  @apply text-gray-500;
}
.header-text{
  @apply basis-3/5 font-montserrat text-3xl font-bold
}
.nav-links{
  @apply text-white
}
.activated{
  @apply text-primary-300
}
.action-button{
  @apply rounded-md bg-primary-500 text-white px-10 py-2 hover:bg-[#FF4433] hover:shadow-black-shadow
}
